.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.searchbar-container form {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.searchbar-container input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

.searchbar-container input:focus {
    border-color: #3498db;
    box-shadow: 0px 0px 5px rgba(52, 152, 219, 0.5);
}

.searchbar-container button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchbar-container button:hover {
    background-color: #2980b9;
}
